/*
Index.css: Styles for the skeleton of the UI
Programmed by: Chris Franklyn
Last Modified: 9/21/206
*/

.tab-container {
  margin-left: 2%;
  margin-right: 2%;
}

.tab-heading {
  border-bottom: 2px solid #17C5FF;
}

.navbar-brand {
  font-size: 20pt;
}

.nav-stats {
  float: right;
}

.text-center {
  text-align: center;
}

.tool {
	font-size: 15pt;
	color: #ffffff;
}

.icon {
	height: 15%;
	width: 15%;
	margin-right: 5%;
	margin-left: 5%;
}

.toolbar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #666666;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.search-bar {
	margin-top: 5%;
	margin-bottom: 10%;
}
