/*
Index.css: Styles for the skeleton of the UI
Programmed by: Chris Franklyn
Last Modified: 9/21/206
*/

.tab-container {
  margin-left: 2%;
  margin-right: 2%;
}

.tab-heading {
  border-bottom: 2px solid #17C5FF;
}

.navbar-brand {
  font-size: 20pt;
}

.nav-stats {
  float: right;
}
